* {
   margin: 0;
   padding: 0;
}

ul {
   /* border: 1px solid red; */
   list-style-type: none;
}

#clear {
   clear: both;
}

body {
   /* border: 1px solid red; */
   background-color: rgb(242, 240, 240);
   font-size: 14px;
   color: rgb(110, 110, 110);
 
}

div {
   border: 1px solid rgb(255, 0, 0, 0);
   box-sizing: border-box;
}

#wrap {
   width: 772px; height: 500px;
   margin: 0 auto;
}

/* 가변 그리드아웃 */
.c1 { width: 8.33%; float: left; }  
.c2 { width: 16.66%; float: left;  }
.c3 { width: 25%; float: left; } 
.c4 { width: 33.33%; float: left; }
.c5 { width: 41.66%; float: left;  }
.c6 { width: 50%; float: left; }
.c7 { width: 58.33%; float: left;  }
.c8 { width: 66.66%; float: left;}
.c9 { width: 75%; float: left;} 
.c10 { width: 83.33%; float: left; }
.c11 { width: 91.66%; float: left; }
.c12 { width: 100%; float: left; }



/* 포인트뮤럴벽지 */
.line {
   background-color: rgb(110, 110, 110);;
   height: 2px;
   margin: 10px 0 20px 0;
}
.line2 {
   background-color: rgb(227, 227, 227);;
   height: 1px;
   margin: 10px 0 20px 0;
}

.sp1 {
   font-weight: 700;
   font-size: 17px;
   color: rgb(150, 193, 31);
}
.sp2 {
   font-weight: 700;
   font-size: 17px;
}

.align_center {
   text-align: center; 
}
/* 좌 */

/* 우 */
#d_m_2_1 {
   /* width: 535px; */
}
#d_m_2_1 table{

   /* height: 450px; */
   width: 360px;
   margin: 0 0 0 20px;
}

/* 중1 */

#d_m_3>div {
   margin: 10px 0 10px 30px;
   padding: 30px 0 30px 0;

   background: rgb(255, 255, 255);
   border: 1px solid rgb(110, 110, 110);
}
#d_m_3 table {
   margin-left: 25px;
   font-size: 14px;

   border-collapse: collapse;
   border-top: hidden;
   border-left: hidden;
   border-right: hidden;
}
#d_m_3 tr {
   border: 1px solid rgb(110, 110, 110);
}
#d_m_3 td {
   padding: 5px;
}

/* 최하단 */
#d_m_4 ul {
   font-weight: 600;
   margin-left: 30px;
}

#d_m_4 li {
   margin: 5px;
   padding: 0 0 0 20px;
}

